.app-container {
    width: 660px;
    height: auto;
    box-sizing: border-box;
    background-color: #379683;
    border-radius: 30px;
    padding: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.searching-form {
    width: 100%;
    height: auto;
}

.searching-form__input {
    width: 100%;
    line-height: 50px;
    font-size: 40px;
    padding: 5px 25px;
    box-sizing: border-box;
    border-radius: 20px;
}

.respond-container {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0;
    border-radius: 25px;
}

.respond-container__item {
    width: 100%;
    border: 0.5px solid #379683;
    font-size: 30px;
    padding: 5px 25px;
    box-sizing: border-box;
}

.respond-container__item:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.respond-container__item:last-child {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.respond-container__item:hover {
    background-color: #EDF5E1;
}

.repos-container__wrapper {
    display: flex;
    flex-direction: column;
}

.repos-container {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.repos-container__item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-top: 2px;
    padding: 10px 30px;
    color: #ADADAD;
    background-color:#05386B;
    border: 1px solid #ADADAD;
    border-radius: 15px;
    font-size: 24px;
}

.repos-container__button {
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-image: url('/assets/close.png');
    background-size: cover;
    transition-duration: 400ms;
}

.repos-container__button:hover {
    transform: rotate(180deg);
}
